:root {
  /* --font-one: var(--font-dm-sans);
  --font-two: var(--font-bricolage); */
  --Neutral-900: hsl(243, 96%, 9%);
--Neutral-800: hsl(243, 27%, 20%);
--Neutral-700: hsl(243, 23%, 24%);
--Neutral-600: hsl(243, 23%, 30%);
--Neutral-300: hsl(240, 6%, 70%);
--Neutral-200: hsl(250, 6%, 84%);
--Neutral-0: hsl(0, 0%, 100%);


--Orange-500: hsl(28, 100%, 52%);

--Blue-500: hsl(233, 67%, 56%);
--Blue-700: hsl(248, 70%, 36%);
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

html{
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.container{
 width: 100%;
 max-width: 100%;
 color: var(--Neutral-0);
 background-color: var(--Neutral-900);
}
