:root {
  /* --font-one: var(--font-dm-sans);
  --font-two: var(--font-bricolage); */
  --Neutral-900: hsl(243, 96%, 9%);
--Neutral-800: hsl(243, 27%, 20%);
--Neutral-700: hsl(243, 23%, 24%);
--Neutral-600: hsl(243, 23%, 30%);
--Neutral-300: hsl(240, 6%, 70%);
--Neutral-200: hsl(250, 6%, 84%);
--Neutral-0: hsl(0, 0%, 100%);


--Orange-500: hsl(28, 100%, 52%);

--Blue-500: hsl(233, 67%, 56%);
--Blue-700: hsl(248, 70%, 36%);
}

.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 4rem;
  font-family: var(--font-dm-sans);
}

.main {
  width: 100%;
}

/* HEADER COMPONENT */
.header{
  margin-bottom: 2rem;
  position: relative;
}
.headerLogoContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.units{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.3rem;
  cursor: pointer;
  background-color: var(--Neutral-800);
  border-radius: 0.5rem;
  position: relative;
}
.unitText{
  font-weight: 500;
  font-size: 0.8rem;
}

.title{
  text-align: center;
  font-family: var(--font-bricolage);
}
/* .units{
  width: 100%;
} */
 .unitOptionsContainer{
  position: absolute;
  top: 55px;
  right: 0px;
  background-color: var(--Neutral-800);
  width: 13rem;
  border-radius: 0.6rem;
  padding: 0.5rem;
  z-index: 100000;
  opacity: 0;
  transition: all 0.8s ease;
  height: 0;
 }

 .unitOptionsContainer.active{
  opacity: 1;
  height: auto;
 }
/* .unitOption{
  position: absolute;
  top: 45px;
  right: 0px;
  background-color: var(--Neutral-800);
  width: 13rem;
  border-radius: 0.6rem;
  padding: 0.5rem;
  z-index: 10;
  opacity: 0;
} */
.unitOption h3{
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--Neutral-0);
  /* margin-bottom: 0.9rem; */
}
.optionDetails{
  margin-top: 0.9rem;
}

.optionDetails p{
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Neutral-200);
}
.optionIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}
.optionIcons:hover {
background-color: var(--Neutral-700);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.optionIcons h4{
  font-size: 0.8rem;
  font-weight: 500;
}

.unitOption hr{
  border: none;
  height: 1px;
  background-color: var(--Neutral-600);
  margin-top: 0.5rem;
}





/* SEARCH COMPONENT */
.searchContainer{
  position: relative;
  margin-top: 3rem;
  width: 100%;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.inputContainer{
  position: relative;
  width: 100%;

}
.searchIcon{
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.searchInput{
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-family: var(--font-dm-sans);
  font-size: 0.9rem;
  font-weight: 400;
  background-color: var(--Neutral-800);
  height: 3rem;
  color: var(--Neutral-200);
  /* text-indent: 3rem; */
  padding-left: 3.5rem;
}
.searchInput::placeholder{
   font-family: var(--font-dm-sans);
   color: var(--Neutral-200);
  font-size: 0.9rem;
}
.searchButton{
  font-family: var(--font-dm-sans);
  border: none;
  outline: none;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.2rem 0.9rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--Neutral-0);
  background-color: var(--Blue-500);
  cursor: pointer !important;
  z-index: 100;
}
.searchResultsList{
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: var(--Neutral-800);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1px  var(--Neutral-200);
  z-index: 10;
  max-height: auto;
  overflow-y: auto;
  padding: 1rem;
}
.searchResultItem{
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--Neutral-0);
  padding: 0.5rem 0rem;
  cursor: pointer;
  z-index: 10;
}
.searchResultItem:hover{
  background-color: var(--Neutral-700);
  border-radius: 0.3rem;
  padding-left: 1rem;
}

/* WEATHER COMPONENTS */
.weatherContainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}
.weatherOverviewContainer{
  width: 100%;
  max-width: 70%;
  
}


.currentWeatherSection{
  background-image: url(/assets/images/bg-today-large.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 0.9rem;
  height: 13rem;
  margin-bottom: 2rem;
}
.loaderWeatherSection{
  position: relative;
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 0.9rem;
  height: 13rem;
  margin-bottom: 2rem;
  background-color: var(--Neutral-800);
}
.loaderIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loaderWeatherSection p{
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--Neutral-200);
  text-align: center;
  animation: blink 2s ease-in-out infinite;
}
@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0.3;
  }
}
.locationInfo h4{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.locationInfo p{
  font-size: 1rem;
  font-weight: 300;
}

.currentTemp{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.currentTemp h1{
  font-size: 4rem;
  font-weight: 600;
  font-style: italic;
}

.weatherDetailsSection{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.feelsLikeContainer{
  height: 5rem;
   background-color: var(--Neutral-800);
   padding: 1rem;
   box-shadow: 0px 0px 1px  var(--Neutral-200);
   border-radius: 0.5rem;
}

.feelsLikeContainer p{
    font-size: 0.8rem;
    color: var(--Neutral-200);
    font-weight: 400;
    margin-bottom: 0.7rem;
}

.feelsLikeContainer h5{
    font-size: 1.5rem;
    color: var(--Neutral-0);
    font-weight: 300;
    margin-bottom: 0.7rem;
}

.dailyForecastContainer h4{
  font-size: 0.9rem;
  font-weight: 600;
}

.dailyForecastList{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 justify-content: space-between;
 align-items: center;
 gap: 1rem;
   margin-top: 1rem;
}

.dailyForecastItem{
    height: 7rem;
   background-color: var(--Neutral-800);
   padding: 0.4rem;
   box-shadow: 0px 0px 1px  var(--Neutral-200);
   border-radius: 0.5rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: start;
}

.dailyForecastItem p{
  font-size: 0.8rem;
  color: var(--Neutral-200);
}
.weatherImages{
  /* width: 100%; */
}

.tempRange{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
  font-size: 0.7rem;
}

/* HOURLY FORECAST */
.hourlyContainer{
  width: 100%;
  max-width: 30%;
   background-color: var(--Neutral-800);
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 1000;
  /* height: 40rem; */
}

.hourlyHeader{
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  position: relative;
}
.hourlyHeader h3{
  font-size: 0.9rem;
}
.hourlyDateSelector{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--Neutral-600);
  padding: 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  z-index: 10000;
}
.hourlyDateSelector p {
  font-size: 0.8rem;
  font-weight: 500;
}
/* .hourlyList{
  max-height: 30rem;
  overflow-y: auto;
  padding-right: 0.3rem;
} */
.hourlyItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: var(--Neutral-700);
   padding: 0.5rem 0.7rem;
   box-shadow: 0px 0px 1px  var(--Neutral-200);
   border-radius: 0.3rem;
  margin-top: 0.8rem;
  height: 2rem;
}
.hourlyTime{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.hourlyTime p{
  font-size: 0.9rem;
  font-weight: 500;
}
.hourlyItem p{
  font-size: 0.8rem;
}
/* .daysOfWeekContainer{
    position: absolute;
    cursor: pointer;
  background-color: var(--Neutral-800);
  top: 40px;
  right: 0px;
  width: 10rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 1px  var(--Neutral-200);
   z-index: 990;

    opacity: 0;


   transition: all 0.2s ease;
} */

.daysOfWeek{
    position: absolute;
    cursor: pointer;
  background-color: var(--Neutral-800);
  top: 40px;
  right: 0px;
  width: 10rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 1px  var(--Neutral-200);
   z-index: 990;

    opacity: 0;


   transition: all 0.2s ease;
}

.daysOfWeek.active{
   opacity: 1;
  /* transform: translateY(0);
  pointer-events: auto; */
}
.daysOfWeek p{
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--Neutral-0);
  padding: 0.5rem 0rem;
  padding-left: 0.3rem;
  cursor: pointer;
 
}
.daysOfWeek p:hover{
  background-color: var(--Neutral-700);
  border-radius: 0.3rem;
}


/* //Error State Component */
.errorContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
  z-index: 100000000;
}

.retryButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: var(--font-dm-sans);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--Neutral-0);
  background-color: var(--Neutral-700);
  cursor: pointer;
  z-index: 10000000000;
}




@media screen and (max-width: 950px) {
  .page {
  
  padding: 1rem 2rem;
}
}

@media screen and (max-width: 906px) {
  .weatherOverviewContainer{
  width: 100%;
  max-width: 60%;
  
}

.hourlyContainer{
  width: 100%;
  max-width: 40%;
}

.weatherDetailsSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.dailyForecastList{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
}

@media screen and (max-width: 800px) {

  .currentWeatherSection{
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 0.9rem;
  height: 13rem;
  margin-bottom: 2rem;
  }

  .currentTemp{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:4rem;
}

}

@media screen and (max-width: 670px) {

  .weatherContainer{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

   .weatherOverviewContainer{
  width: 100%;
  max-width: 100%;
  
}

.hourlyContainer{
  width: 100%;
  max-width: 100%;
}

}

@media screen and (max-width: 450px) {
.page{
  padding: 1rem 1rem;
}
  .headerLogo{
    width: 150px;

  }
  .searchContainer{
  position: relative;
  margin-top: 3rem;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
}
.searchButton{
  width: 100%;
}
}